{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div style="width: 25%">
        <form method="GET">
            <label style="font-size: 20px; margin-bottom: 20px">Filtruj skrzynkę pocztową:</label>
            <div style="margin-bottom: 5px">
                <label for="q"><span class="material-icons">search</span>Wyszukaj:</label>
                <input type="text" name="q" value="{{ request.GET.q }}">
            </div>

            <div style="margin-bottom: 20px">
                <label for="type"><span class="material-icons">mail</span>Typ:</label>
                <select name="status">
                    <option value="">Wszystkie</option>
                    <option value="sent" {% if request.GET.type == 'sent' %}selected{% endif %}>Wysłane</option>
                    <option value="received" {% if request.GET.type == 'received' %}selected{% endif %}>Odebrane</option>
                </select>
            </div>

            <div style="margin-bottom: 20px">
                <label for="status"><span class="material-icons">autorenew</span>Status:</label>
                <select name="status">
                    <option value="">Wszystkie</option>
                    <option value="unread" {% if request.GET.status == 'unread' %}selected{% endif %}>Nieprzeczytane</option>
                    <option value="read" {% if request.GET.status == 'read' %}selected{% endif %}>Przeczytane</option>
                </select>
            </div>

            <button class="button" type="submit">Szukaj</button>
        </form>
    </div>

    <ul style="width: 65%">
        {% for message in messages %}
            <li id="inboxmessage" class="{% if message.is_read %} read {% else %} unread {% endif %}">
                <a class="message-title" style="align-items: center;" href="{% url 'app:view_message' message.id %}">
                    <img class="closedenvelope" src="{% static 'images/closed_envelope.png' %}" alt="Zdjęcie koperty"/>
                    <img class="openenvelope" src="{% static 'images/open_envelope.png' %}" alt="Zdjęcie koperty"/>
                    <p>Od: {{ message.sender.username }}</p>
                    <p>{{ message.subject }}</p><br>
                    <p>{{ message.sent_date }}</p>
                </a>
            </li><br>
        {% empty %}
            <li>Brak listów do wyśweitlenia.</li>
        {% endfor %}
    </ul>
{% endblock %}
