{% extends "base.html" %}
{% block body %}
    <form class="register" style="flex-direction: column" method="POST">
        {% csrf_token %}
        <div>
            <label>Email przypisany do konta:</label>
            <input type="email" name="email" autocomplete="email"
                   maxlength="254" required id="id_email">
        </div>
        <div style="margin-top: 15px">
          <button type="submit" class="button">Zresetuj hasło</button>
        </div>
        <div style="margin-top: 20px; margin-left: 20px">
            <p>Wróć do strony logowania<a href="{% url 'login' %}">Zaloguj się</a></p>
        </div>
    </form>
{% endblock body %}