{% extends 'base.html' %}
{% load static %}
{% block body %}
    <form method="GET">
        <label style="font-size: 20px; margin-bottom: 20px">Filtruj listę użytkowników:</label>
        <div style="margin-bottom: 5px">
            <label for="name"><span class="material-icons">person</span>Imię:</label>
            <input type="text" name="name" value="{{ request.GET.name }}">
        </div>

        <div style="margin-bottom: 5px">
            <label for="subject"><span class="material-icons">edit</span>Login:</label>
            <input type="text" name="username" value="{{ request.GET.username }}">
        </div>

        <div style="margin-bottom: 20px">
            <label for="sex"><span class="material-icons">transgender</span>Płeć:</label>
            <select name="sex">
                <option value="">Wszyscy</option>
                <option value="men" {% if request.GET.status == 'men' %}selected{% endif %}>Mężczyźni</option>
                <option value="women" {% if request.GET.status == 'women' %}selected{% endif %}>Kobiety</option>
            </select>
        </div>
        <button class="button" type="submit">Szukaj</button>
    </form>

    <ul style="width: 70%" class="profiles">
        {% for profile in profiles %}
            <li>
                <a style="text-decoration: none; color: black" href="{% url 'app:user_profile' user_id=profile.id %}">
                    <img class="profile_pic" src="{% static 'images/border_img.png' %}" alt='Ramka zdjęcia'>
                    <img src="{{ profile.profile_pic.url }}" alt="Zdjęcie użytkownika {{ profile.user.username }}">

                    <div style="width: 100%; flex-direction: row; justify-content: space-around; align-items: center; margin-top: 5px">
                        <p>{{ profile.user.first_name }}</p>
                        <p>{{ profile.age }} lat</p>
                        <span class="material-icons">favorite</span>
                    </div>
                </a>
            </li>
        {% empty %}
            <li>Brak profili do wyświetlenia.</li>
        {% endfor %}
    </ul>
{% endblock %}